body
{
	margin-top :20px;
	margin-left:20px;
	padding:10px;
	color:white;
	background-image:url("muss.jpeg");
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
}
a{
	text-decoration:none;
	cursor:pointer;
}
h1{
	font-size:50px;
}
.pun{
	font-family:sans-serif;
	font-size:30px;
}
.play{
	 padding: 10px;
      color:black;
}

